@charset "ISO-8859-1";
*
{
	box-sizing:content;

	
}
body {
  margin: 0;
  font-family: "Euclid Circular A", "Poppins";
  color: #ddfdfd;
  background: #050808;
  padding:0;
  
  
}
img {
    max-width: 100%;
    height: auto;
}
body {
    font-size: 16px;
}

@media only screen and (min-width: 425px) {
    body {
        font-size: 0.2vh;
    }
	
}


.bar li
{
	
	list-style-type: none;
	text-decoration:none;
	
	
}
.kam
{
	margin-top:290px;
  display:column;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 50px;
  padding: 0 80px;
  text-align: center;
  height: 60vh;
  background: #050808;
}
#about
{
	margin-top:250px;
  display:column;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 50px;
  padding: 0 80px;
  text-align: center;
  height: 60vh;
  background: #050808;

}
.blob
{
	overflow:hidden;
	width:16rem;
	height:16rem;
	border-radius:	
		42% 56% 72% 28% / 42% 42% 56% 48%;
	background:#8f44fd url("hey.jpg");
	background-size:cover;
	background-position:center;
	animation:morph 3.75s linear infinite;
	transition-duration:2s;
	
}
.blob:hover
{
	
	box-shadow:0 0 5px #03ffff , 0 0 25px #03ffff, 0 0 50px #03ffff,0 0 200px #03ffff;
}
@media only screen and (max-width: 400px) {
    .blob {
	overflow:hidden;
	width:10rem;
	height:10rem;
        border-radius:	
		22% 26% 52% 18% / 22% 22% 36% 28%;
	
    }
	
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 50px;
  padding: 0 80px;
  text-align: center;
  height: 100vh;
  background: #050808;
  animation-name:fadeIn;
  animation-duration:5s;
  
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner > .blob {
  width: 15vw;
  transition: 0.1s linear;
}

@media only screen and (max-width: 400px) {
	.banner 
	{
		padding:50% 30%;
	}
	.banner > .blob {
	width: 40vw;
	
}
}
.banner h2 {
  font-weight: 500;
  font-size: 30px;
  margin: 0 0 10px;
}

.banner p {
  margin: 0;
  line-height: 1.65;
  font-size: 17px;
  opacity: 0.7;
}



  .banner > img {
    width: 30vw;
  }
.kam,
#about,
.banner {
    height: auto;
    padding: 10% 30%; /* Adjust as needed */
}

.waves > use {
  animation: move-forever 2s -2s linear infinite;
  
}

.waves > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 6s;
}
.waves > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30vw;
  max-height: 200px;
}
@media only screen and (max-width: 400px) {
	svg
	{
		bottom:-20%;
	}
	
}
@keyframes morph
{
	0%, 100%
	{
	border-radius:
	42% 56% 72% 28% / 42% 42% 56% 48%;
	}
	33%
	{
	border-radius:
	72% 28% 48% 48% / 28% 28% 72% 72%;
	}
	66%
	{
	border-radius:
	100% 56% 56% 100% / 100% 100% 56% 56%;
	}
}
button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.burger,
.menu {
  position: fixed;
}

.burger {
  z-index: 4;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 88px;
  height: 88px;
  background-image: url("menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.open .burger {
  background-image: url("close.svg");
}

.background {
  position: fixed;
  z-index: 2;
  top: 44px;
  left: 44px;
  aspect-ratio: 1 / 1;
  translate: -50% -50%;
  height: 88px;
  background: #51ffff;
  border-radius: 50%;
  opacity: 0;
  transition: 0.6s;
}

body.open .background {
  height: 300vh;
  opacity: 0.1;
}

.menu {
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.05s;
}

.menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
}
@media only screen and (max-width: 400px) {
	.menu nav 
	{
		padding-left:20px;
		
	}
	.menu nav a
	{
		font-size:25px;
	}
	
}
body.open .menu {
  opacity: 1;
  visibility: visible;
}

body .menu nav:hover > a {
  opacity: 0.25;
}

body .menu nav > a:hover {
  opacity: 1;
  translate: 8px 0;
}

.menu a {
  position: relative;
  color: #f9f9f9;
  font-size: 32px;
  font-family: "Euclid Circular A";
  padding: 20px 0 20px 20px;
  text-decoration: none;
  opacity: 0;
  cursor: pointer;
  transition: 0.4s;
}

.menu a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -26px;
  translate: 0 -50%;
  margin-top: 2px;
  width: 10px;
  height: 10px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  opacity: 0;
  rotate: 45deg;
  transition: 0.3s;
}

.menu a:hover::after {
  opacity: 1;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: -30px 0;
  }
  100% {
    opacity: 1;
  }
}


@media only screen and (max-width: 425px) {
    .menu {
        display: flex; /* Show the menu for small screens */
    }
}

body.open .menu a {
  opacity: 1;
  animation: appear 0.35s backwards;
}

.accordion {
  width: cover;
  display: flex;
  justify-content: center;
  height: 400px;
  gap: 16px;
  transition: 0.3s;
  background:#050808;
}

.accordion:hover {
  gap: 0;
}
.accordion li {
  position: relative;
  overflow: hidden;
  flex: 0 0 80px;
  border-radius: 50px;
  opacity: 0.75;
  cursor: pointer;
}

.accordion li img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.5);
}

.accordion li,
.accordion li img,
.accordion li .content,
.accordion li .content span {
  transition: 0.3s;
}

.accordion h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
  white-space: nowrap;
}

.accordion li .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: #fff;
  padding: 15px;
  background: #02022e;
  background: linear-gradient(
    0deg,
    rgb(0 0 0 / 70%) 10%,
    rgb(255 255 255 / 0%) 100%
  );
  opacity: 0;
  visibility: hidden;
}

.accordion li .content span {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 50px;
  translate: -300px 0;
  visibility: hidden;
  opacity: 0;
}

.accordion li:hover {
  flex: 0 1 260px;
  scale: 1.1;
  z-index: 10;
  opacity: 1;
  box-shadow:0 0 100px #80ffff;
}

.accordion li:hover .content {
  opacity: 1;
  visibility: visible;
}

.accordion li:hover span {
  translate: -50% 0;
  opacity: 1;
  visibility: visible;
}
.container1 {
    width: 90%; /* Adjust as needed */
    max-width: 800px;
    margin: 5% auto; /* Adjust as needed */
}
 .container1 {
	 
      display: flex;
      width: 80%;
      max-width: 800px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: rgba(255, 255, 255, 0.05);
      overflow: hidden;
      margin-left: 45%;
      backdrop-filter: blur(10px);
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	  margin-bottom:5%;
    }
.container1:nth-child(even) 
{
		
      display: flex;
      width: 80%;
      max-width: 800px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: rgba(255, 255, 255, 0.05);
      overflow: hidden;
      margin-left: 5%;
      backdrop-filter: blur(10px);
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	  
 
    }
	 .container1:hover
	 {
		
	 }

    .container1 img{
      width: 50%;
      height: auto;
      object-fit: cover;
      border-radius: 10px 0 0 10px;
	  margin-right:5%;
	  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
	  
    }
	.container1 img:hover
	{
		  transform: rotate(0deg) translate(5%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
   margin-top: 0;
     filter: grayscale(0%) contrast(100%);
	   box-shadow:0 0 100px #03ffff ;
	   
		
	}
	

    .text-container1 {
      padding: 20px;
      box-sizing: border-box;
      width: 50%;
    }
	

#projects 
{
	margin-top:5%;
	
}
.contact
{
	padding:20px;
}
.main-footer
{
	padding:90px 0;
	display:flex;
	justify-content:space-evenly;
	background-color:#050808;
	
}
.main-footer ul
{
	list-style:none;
}
.main-footer h1
{
	font-size:22px;
	line-height:117%;
	color:#ffffff;
	margin-bottom:10px;
	font-weight:500;
	
}
.main-footer h2
{
	color:#ffffff;
	font-weight:500;
}
.main-footer ul li a
{
	color:#ffffffcc;
	text-decoration:none;
}
footer
{
	background-color:#050808;
	border-top:1px solid #1d2742;
	font-size:17px;
	padding:15px 5px;
	color:#ffffff;
	text-align:center;
}
footer a
{
	text-decoration:none;
	color:#ffffff;
}
@media only screen and (max-width: 400px) {
	footer
	{
		font-size:12px;
	}
	
}
.logoinfo p
{
	color:#6EB981;
	font-size:17px;
	margin-top:5px;
	
}
@media only screen and (max-width: 400px) {
	.logoinfo h2,h1,a
	{
		font-size:20px;
		text-align:center;
	}
	
}
.contact-details
{
	margin-top:20px;
}
.contact-details li
{
	list-style:none;
	margin:10px 0;
	
}
.contact-details li a
{
	text-decoration:none;
	color:#f1f1f1;
}
.contact-details .fa
{
	color:#f1f1f1;
	margin-right:10px;
	
}
.sociallogos
{
	padding:20px 0;
}
.sociallogos .logobox a
{
	padding:10px 50px;
	text-decoration:none;
	color:#ffffff;
	font-size:22px;
}
@media only screen and (max-width: 400px) {
	.sociallogos a
	{
		text-align:center;
	}
	
}
.com ul li
{
	padding:5px 0;
}
@media only screen and (max-width: 400px) {
	.com ul li a
	{
		font-size:3vw;
	}
	
}
.home
{
	padding-top:5%;
	margin-left:50%;
	margin-bottom:-2%;
	
	
}
.home img
{
	height:40px;
	
	  transition:5s;
	  border-radius:8px;	
}
.home img:hover
{
	background:#03ffff;
	box-shadow:0 0 5px #03ffff,0 0 25px #03ffff, 0 0 50px #03ffff, 0 0 200px #03ffff;
	animation:home 1.75s linear;
	
	
}












